In [1]:
import pandas as pd

In [2]:
pd.read_csv('./../data/NorwayMeteoDataCompleted.csv')

,Unnamed: 0,sourceId,latitude,longtitude,max(air_temperature P1D),max(relative_humidity P1D),max(wind_speed P1D),mean(air_temperature P1D),mean(relative_humidity P1D),mean(wind_speed P1D),sum(precipitation_amount P1D),day,month,year
0,0,SN100,61.134900,12.503900,NaN,NaN,NaN,NaN,NaN,NaN,0.4,1,1,2010
1,1,SN1135,58.990000,11.540800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,2010
2,2,SN1151800,50.100278,14.255556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,2010
3,3,SN15262,61.674000,8.368500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,2010
4,4,SN1531000,45.473056,28.032222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237624,237624,SN50110,60.337200,6.217500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29,12,2021
237625,237625,SN98978,70.335700,28.964800,-11.25,89.0,2.6,-12.45,89.0,1.8,NaN,29,12,2021
237626,237626,SN299300,60.301111,19.131389,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30,12,2021
237627,237627,SN50110,60.337200,6.217500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30,12,2021
237628,237628,SN98978,70.335700,28.964800,-7.00,94.0,NaN,-10.90,91.0,NaN,NaN,30,12,2021